{% extends "layout.html" %}

{% block body %}
<p>
  Welcome! 
</p>

{% if count_messages is defined %}
<p>
  Total number of messages posted by each user:
</p>

<table>
  {% for user in count_messages %}
  <tr>
    <td>{{user.name}} ({{user.messages}} messages)</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

<footer class="page-footer font-small fixed-bottom">
  <div class="text-center py-3 text-light">More details about this project can be found by clicking the link below:
    <p>
        <a href=https://github.com/TimoJarvenpaa/Keskustelufoorumi class="text-light">https://github.com/TimoJarvenpaa/Keskustelufoorumi</a>
    </p>
  </div>
</footer>

{% endblock %}