{% extends "layout.html" %}

{% block body %}
  <h1>{{ title }}</h1>
  <table style="border-collapse:collapse;border: 1px solid black;">
    <th style="border-right: 1px solid black;">User</th>
    <th>Message</th>
    {% for message in messages %}
    <tr style="border: 1px solid black;">
      <td style="border: 1px solid black;padding: 10px;">{{ message.account_id|getUserNameFromId }}</td>
      <td>
        <div style="padding: 10px;">
          <div style="padding-bottom: 10px;">{{ message.content }}</div>
          <div>
            <form method="GET" action="{{ url_for('edit_message', thread_id = thread_id, message_id = message.id) }}">
              <input type="submit" value="Edit message"/>
            </form>
          </div>
          {% if message.date_created != message.date_modified %}
            <div>Last edited on {{ message.date_modified }}</div>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  
  {% with thread_id=thread_id %}
    {% include "messages/new.html" %}
  {% endwith %}
{% endblock %}