{% extends "layout.html" %}

{% block body %}
<h1>{{ title }}</h1>
<table class="table table-bordered table-dark" style="word-break: break-all;table-layout: fixed;white-space: pre-line;">
  <thead>
    <tr>
      <th scope="col" style="width:10%">User</th>
      <th scope="col" style="width:70%">Message</th>
      <th scope="col" style="width:20%"></th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
    <tr>
      <td class="text-warning">{{ message.account_id|getUserNameFromId }}</td>
      <td>
        {{ message.content }}
        {% if message.date_created != message.date_modified %}
        <p class="text-warning">Last edited on {{ message.date_modified }}</p>
        {% endif %}
      </td>
      <td>
        <form method="GET" action="{{ url_for('edit_message', thread_id = thread_id, message_id = message.id) }}">
          <input type="submit" value="Edit message" class="btn btn-warning"/>
        </form>
        <form method="POST" action="{{ url_for('delete_message', thread_id = thread_id, message_id = message.id) }}">
          <input type="submit" value="Delete message" class="btn btn-danger"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% with thread_id=thread_id %}
{% include "messages/new.html" %}
{% endwith %}
{% endblock %}